.admin-menu {
  .admin-options {
    // z-index: -1;
    transition: all 400ms cubic-bezier(0.495, 0, 0.510, 0.995);
    display: inline-block;
    position: fixed;
    right: 0;
    left: 100%;
    top: 0;
    width:100%;
    max-width:300px;
    padding: 75px 15px 15px 15px;
    text-align: left;
    height: 100%;
    border-right: 2px solid #eee;
    background: #fff;
    h3 {
      margin-top: 5px;
    }
  }
  &.right-open .admin-options {
    left: ~"calc(100% - 300px)";
  }
  &.admin-full-view {
    .admin-options {
      left:0;
      right:auto;
    }
    .admin-content {
      left: 300px;
    }
    .admin-menu-controls {
      visibility: visible;
    }
  }
  .admin-content {
    & {
      transition: all 400ms cubic-bezier(0.495, 0, 0.510, 0.995);
      position: absolute;
      top:0;
      left:100%;
      right:0;
      bottom:0;
      padding: 75px 15px 15px 15px;
      display: inline-block;
      background: #f2f2f2;
      height: 100%;
    }
    .data-table {
      padding-bottom: 75px;
    }
  }
  .admin-menu-controls {
    visibility: hidden;
    .admin-menu-close {
      & {
        position: relative;
        top: -20px;
        display:inline-block;
        margin-top:15px;
        padding: 5px 15px;
        border: 2px solid #bebebe;
        color: #bebebe;
        text-decoration: none;
        cursor: pointer;
        transition: border 0.2s, color 0.2s;
      }
      &:hover {
        border-color: #999;
        color: #999;
      }
    }
  }
}
