@import './Landing.less';
@import './LeftNavigation.less';
@import './TopNavigation.less';
@import './MenuButton.less';
@import './ShowModels.less';
@import './Search.less';
@import './AssetModal.less';
@import './AssetTable.less';
@import './AdminOptions.less';
@import '../../node_modules/fixed-data-table/dist/fixed-data-table.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,600,700|Titillium+Web:200,300,400,600,700');

html, body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
}
h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

.side-bar {
  background: #fff;
}

.center {
  background: #f2f2f2;
  border-right: solid 1px #bbb;
  padding-bottom: 100px;
  min-height: 100vh;
}

.width-override {
  width:100%!important;
}

.btn {
  border-radius: 0!important;
}

.thin-text {
  font-weight: 300;
}

ul.button-list {
  list-style: none;
  padding: 0;
  li {
    margin:0;
    padding: 5px 0;
    .fa {
      text-align: left;
    }
  }
}

button, button:focus, button:active {
  outline: none!important;
}
